
*{
  margin:0;
}
.App-header{
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  padding:20px;
  /* margin:1px auto; */
}
input{
  background-color:rgb(255, 255, 255);
  color:rgb(0, 0, 0);
  font-size:1.6rem;
  font-weight: 700;
  width: 30%;
  height:60%;
  border:1px solid rounded rgba(255, 255, 255, 0);
  border-radius: 4px;
  
}
